.centered-element{
    align-items: center;
    background-color: #fff;
    display: flex;
        > img {
        margin-left: 10px;
      }
  }
.centered-elementError{
  margin-top: -20px;
    display: flex;
    align-items: center;
    > h5 {
        align-items: center;
        color: #ff0000;
        margin-left: 10px;
      }
      
  }
    .hint {
    color: rgb(75, 75, 75);
  }
